.header {
    display: flex;
    size: 75px;
    padding-left: 250px;
    padding-bottom: 25px;
    letter-spacing: 15px;
}

img {
    height: 250px;
    width: 250px;
}

p {
    border: solid;
    padding: 25px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 15px;
}

main {
    border: solid;
    padding: 25px;
}

h4 {
    text-align: center;
    padding: 20px;
}

body {
    padding: 20px;
}